@import "../../App.scss";

.navbarStyling{
    background-color: $basic-white;
    border-bottom-right-radius: $border-radius-v;
    border-bottom-left-radius: $border-radius-v;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: $basic-black !important;
    margin-bottom: $margin-btm;
}
 .logoImg{
    width:3em !important;height: 3em !important;
 }
.nav-item{
    width: fit-content !important;
}

#navbarSupportedContent{
     li{
        width:8em !important;
         
        .nav-link{
            color: $primary-green !important;
        }
     }
}

.small-nav{
    .active{
        font-weight: bolder !important;
      }
}

.btn-login{
    padding: 0.5em !important;
    background-color:  $primary-green !important;
    font-size: 1em !important;
}

.login-btn-link{
 text-decoration: none !important;
 color: white !important;
}