@import "../../App.scss";

.main-nav{
    font-size: fs-6!important;
    border-top-left-radius: $border-radius-v;
    border-top-right-radius: $border-radius-v;
    padding: 0.5em !important;
    width: 100% !important;
    background-color: $primary-green !important;
    color: $primary-green;
    .nav-item{
        width: 33% !important;
        color: $basic-white !important;
        margin-bottom: -0.5em !important;
        button{
            width: 100% !important;
        }
        .nav-link{
            text-decoration: none !important;  color: $basic-white !important;
          }
        .active{
            color: $primary-green !important;
        }
    }
}

.accordion{
    padding:$margin-btm ;
    margin: 0.5em auto !important;
    width: 95% !important;
}

.tab-content{
    border: none !important;
    min-height: 45vh !important;
}
.youtube-vid{
    width: 25em;
    height: 17em;
}

.shadow-lg{
    border-bottom-right-radius: $border-radius-v !important;
    border-bottom-left-radius: $border-radius-v !important;
}

.basic-parag{
    text-align: right !important;
    padding: 0.5em !important;
    margin-bottom: -1em !important;
}
